@page
@model teste_oracle.Pages.SucessModel
@{
    ViewData["Title"] = "Sucess";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1 class="text-success">Success.</h1>
<h2 class="text-success">LDAP connection successfully.</h2>

